[submodule "thirdparty/Grounded-Segment-Anything"]
	path = thirdparty/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything
[submodule "thirdparty/Orient-Anything"]
	path = thirdparty/Orient-Anything
	url = https://github.com/FishWoWater/Orient-Anything
